.modal.fade.in .lab-modal-body {
  bottom: 0;
  opacity: 1;
}

.lab-modal-body h1 {
  font-size: 4rem;
}

.lab-modal-body p {
  margin: 0 0 1.62rem 0;
  line-height: 1.62;
  font-weight: 300;
  font-size: 1.62rem;
  color: #666;
}

.lab-modal-body {
  position: relative;
  bottom: -250px;
  margin: 150px auto 0;
  padding: 40px;
  max-width: 60%;
  height: auto;
  background-color: rgb(248, 250, 247);
  border: 1px solid #BEBEBE;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
  transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
}

.close {
  margin-top: -20px;
  margin-right: -20px;
  text-shadow: 0 1px 0 #ffffff;
}

.gdprGroupLabel {
  cursor: pointer;
  display: inline-block;
  width: 100%;
}

.gdprSettingsFormContainer {
  display: none;
  margin-top:20px;
}


@media only screen and (max-width: 767px) {
  .lab-modal-body h1 {
    font-size: 3rem;
  }

  .lab-modal-body {
    position: relative;
    bottom: -250px;
    margin: 150px auto 0;
    padding: 10px;
    max-width: 90%;
    height: auto;
    background-color: rgb(248, 250, 247);
    border: 1px solid #BEBEBE;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
    transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
  }
  
  .close {
    margin-top: 0px;
    margin-right: 0px;
    text-shadow: 0 1px 0 #ffffff;
  }
  
}